name: Continuous Integration
on: [push]                      # Will make the workflow run every time you push to any branch

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest      # Sets the build environment a machine with the latest Ubuntu installed
    steps:
    - uses: actions/checkout@v2 # Adds a step to checkout the repository code
    - uses: actions/setup-dotnet@v1  # Setup .NET CLI
      with: 
        dotnet-version: '5.0.x'
    # Build the C# code.
    - run: dotnetttt build
    # Run the C# tests.
    #- run: dotnet test
    # Build the TypeScript code.
    #- run: npm install && npm run build
    #  working-directory: ./DotnetTemplate.Web
    # Run the linter on the TypeScript code.
    #- run: npm run lint
    #  working-directory: ./DotnetTemplate.Web
    # Run the TypeScript tests.
    #- run: npm t
    #  working-directory: ./DotnetTemplate.Web
    # Send Slack Notification
    # - name: Slack Notification 
    #   id: slack
    #   uses: rtCamp/action-slack-notify@v2
    #   with:
    #     status: ${{ job.status }}
    #     notify_when: 'failure'
    #   env:
    #     SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
    - name: Slack Notification
      uses: ravsamhq/notify-slack-action@v1
      if: always()
      with:
        status: ${{ job.status }} 
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} 
